@using Models;
@using ViewModels.Bollers;
@model IndexViewModels;

@{
    Layout = "_Layout";
    ViewData["title"] = "Котельне обладнання";
    ViewData["layoutContainerClass"] = "bollers-index";
}

<!-- Table -->
<div class="col-12">
    <div class="card">
        <div class="header">
            <h2><strong>@ViewData["title"]</strong></h2>

            <ul class="header-dropdown m-r--5">
                <li class="dropdown">
                    <a href="#" onClick="return false;" class="dropdown-toggle" data-toggle="dropdown"
                        role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="/bollers/create">Додати</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="tableBody">
            <div class="table-responsive">
                <table class="table table-hover dashboard-task-infos">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Виробнича потужність (ГКл)</th>
                            <th>Споживаюча потужність (м3/год)</th>
                            <th>Дії</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(Boller boller in Model.bollers){
                            <tr>
                                <td class="table-img">
                                    <img src="/assets/images/user/user1.jpg" alt="">
                                </td>
                                <td>@boller.generatePower</td>
                                <td>@boller.consumptionPower</td>
                                <td>
                                    <button class="btn tblActnBtn" onclick="location.href = '/bollers/update/@boller.id'">
                                        <i class="material-icons">mode_edit</i>
                                    </button>
                                    <button class="btn tblActnBtn" onclick="document.getElementById('delete-form-@boller.id').submit()">
                                        <i class="material-icons">delete</i>
                                    </button>
                                    <form id="delete-form-@boller.id" action="/bollers/delete/@boller.id" method="post"></form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- #END# Table -->