@using ViewModels.Users;
@model IndexViewModels;

@{
    Layout = "_Layout";
    ViewData["title"] = "Оператори системи";
    ViewData["layoutContainerClass"] = "users-index";
}

@section Body {
<!-- Table -->
<div class="col-12">
    <div class="card">
        <div class="header">
            <h2><strong>@ViewData["title"]</strong></h2>

            <ul class="header-dropdown m-r--5">
                <li class="dropdown">
                    <a href="#" onClick="return false;" class="dropdown-toggle" data-toggle="dropdown"
                        role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="/users/create">Додати</a>
                        </li>
                        @* <li>
                            <a href="#" onClick="return false;">Another action</a>
                        </li>
                        <li>
                            <a href="#" onClick="return false;">Something else here</a>
                        </li> *@
                    </ul>
                </li>
            </ul>
        </div>

        <div class="tableBody">
            <div class="table-responsive">
                <table class="table table-hover dashboard-task-infos">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Назва</th>
                            <th>Адреса</th>
                            <th>Статус</th>
                            <th>Дії</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            @* <td class="table-img">
                                <img src="assets/images/user/user1.jpg" alt="">
                            </td> *@
                            <td>1</td>
                            <td>Київ-1</td>
                            <td>Троєщина</td>
                            <td>
                                <span class="label bg-green shadow-style">Active</span>
                            </td>
                            <td>
                                <button class="btn tblActnBtn">
                                    <i class="material-icons">mode_edit</i>
                                </button>
                                <button class="btn tblActnBtn">
                                    <i class="material-icons">delete</i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Київ-2</td>
                            <td>Дарниця</td>
                            <td>
                                <span class="label bg-red shadow-style">Inactive</span>
                            </td>
                            <td>
                                <button class="btn tblActnBtn">
                                    <i class="material-icons">mode_edit</i>
                                </button>
                                <button class="btn tblActnBtn">
                                    <i class="material-icons">delete</i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- #END# Table -->
}